<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://cdn.tailwindcss.com"></script>
<title>Home Page</title>
</head>
<body class="bg-slate-400">

	<div align="center">
		<header class="bg-gray-200">
		    <span class="text-2xl font-bold mr-48">最新消息模組</span>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer"><a href="/home">首頁</a></button>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer"><a href="/all_news">所有消息</a></button>
		</header>
	    <h1 class="text-3xl font-bold underline">
	      最新消息:
	    </h1>
	    <footer class="py-24 bg-gray-200">
		 	<p>版權所有© 2023 Github-hibiki4945</p>
		</footer>
	</div>
</body>
</html>